.coffe_container{
    width: 100%;
}
.coffe_container .row{
     background-color: rgb(221, 164, 77);
     
}
.row .card{
    width: 23%;
    box-shadow: 0px 1px 3px 2px rgb(107, 64, 7);
}
.MyBtn{
    transition: 0.7s;
    margin: 0 120px 10px 120px ;
    padding: 7px;
    background-color: #FFC107;
    border-radius: 15px;
}
.MyBtn:hover{
    background-color:rgb(107, 64, 7);
    color: white;
    transition: 0.5s;
}

